In [11]:
import pandas as pd
import math
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt
import warnings

data = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls',skiprows=4)
data.columns = ['City', 'Population', 'Violent Crime', 'Murder', 'Rape1', 'Rape2', 'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft', 'Motorvehicle Theft', 'Arson']
data.head(20)

,City,Population,Violent Crime,Murder,Rape1,Rape2,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-theft,Motorvehicle Theft,Arson
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN
5,Alfred Village,4089.0,5.0,0.0,NaN,0.0,3.0,2.0,46.0,10.0,36.0,0.0,NaN
6,Allegany Village,1781.0,3.0,0.0,NaN,0.0,0.0,3.0,10.0,0.0,10.0,0.0,0.0
7,Amherst Town,118296.0,107.0,1.0,NaN,7.0,31.0,68.0,2118.0,204.0,1882.0,32.0,3.0
8,Amityville Village,9519.0,9.0,0.0,NaN,2.0,4.0,3.0,210.0,16.0,188.0,6.0,1.0
9,Amsterdam,18182.0,30.0,0.0,NaN,0.0,12.0,18.0,405.0,99.0,291.0,15.0,0.0
10,Arcade Village,2053.0,0.0,0.0,NaN,0.0,0.0,0.0,39.0,3.0,35.0,1.0,0.0
11,Ardsley Village,4523.0,5.0,0.0,NaN,0.0,3.0,2.0,33.0,4.0,28.0,1.0,0.0
12,Asharoken Village,658.0,0.0,0.0,NaN,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0
13,Attica Village,2522.0,2.0,0.0,NaN,0.0,0.0,2.0,5.0,0.0,4.0,1.0,0.0
14,Auburn,27270.0,96.0,1.0,NaN,20.0,22.0,53.0,859.0,132.0,721.0,6.0,NaN
15,Avon Village,3333.0,1.0,0.0,NaN,0.0,1.0,0.0,25.0,3.0,20.0,2.0,NaN
16,Baldwinsville Village,7473.0,5.0,0.0,NaN,0.0,1.0,4.0,88.0,10.0,77.0,1.0,0.0
17,Ballston Spa Village,5418.0,8.0,0.0,NaN,0.0,3.0,5.0,94.0,16.0,78.0,0.0,1.0
18,Batavia,15374.0,57.0,0.0,NaN,7.0,13.0,37.0,559.0,103.0,454.0,2.0,NaN
19,Bath Village,5733.0,15.0,0.0,NaN,1.0,3.0,11.0,191.0,32.0,157.0,2.0,2.0

In [15]:
data['MurderExists'] = data['Murder'].apply(lambda x: 0 if x == 0.0 else 1)
data['RobberyExists'] = data['Robbery'].apply(lambda x: 0 if x == 0.0 else 1)
data.head(20)

,City,Population,Violent Crime,Murder,Rape1,Rape2,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-theft,Motorvehicle Theft,Arson,MurderExists,RobberyExists
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0,0,0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0,0,0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0,0,0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN,1,1
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN,0,1
5,Alfred Village,4089.0,5.0,0.0,NaN,0.0,3.0,2.0,46.0,10.0,36.0,0.0,NaN,0,1
6,Allegany Village,1781.0,3.0,0.0,NaN,0.0,0.0,3.0,10.0,0.0,10.0,0.0,0.0,0,0
7,Amherst Town,118296.0,107.0,1.0,NaN,7.0,31.0,68.0,2118.0,204.0,1882.0,32.0,3.0,1,1
8,Amityville Village,9519.0,9.0,0.0,NaN,2.0,4.0,3.0,210.0,16.0,188.0,6.0,1.0,0,1
9,Amsterdam,18182.0,30.0,0.0,NaN,0.0,12.0,18.0,405.0,99.0,291.0,15.0,0.0,0,1
10,Arcade Village,2053.0,0.0,0.0,NaN,0.0,0.0,0.0,39.0,3.0,35.0,1.0,0.0,0,0
11,Ardsley Village,4523.0,5.0,0.0,NaN,0.0,3.0,2.0,33.0,4.0,28.0,1.0,0.0,0,1
12,Asharoken Village,658.0,0.0,0.0,NaN,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0,0
13,Attica Village,2522.0,2.0,0.0,NaN,0.0,0.0,2.0,5.0,0.0,4.0,1.0,0.0,0,0
14,Auburn,27270.0,96.0,1.0,NaN,20.0,22.0,53.0,859.0,132.0,721.0,6.0,NaN,1,1
15,Avon Village,3333.0,1.0,0.0,NaN,0.0,1.0,0.0,25.0,3.0,20.0,2.0,NaN,0,1
16,Baldwinsville Village,7473.0,5.0,0.0,NaN,0.0,1.0,4.0,88.0,10.0,77.0,1.0,0.0,0,1
17,Ballston Spa Village,5418.0,8.0,0.0,NaN,0.0,3.0,5.0,94.0,16.0,78.0,0.0,1.0,0,1
18,Batavia,15374.0,57.0,0.0,NaN,7.0,13.0,37.0,559.0,103.0,454.0,2.0,NaN,0,1
19,Bath Village,5733.0,15.0,0.0,NaN,1.0,3.0,11.0,191.0,32.0,157.0,2.0,2.0,0,1